---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: silly-demo
  labels:
    app.kubernetes.io/name: silly-demo
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: silly-demo
  template:
    metadata:
      labels:
        app.kubernetes.io/name: silly-demo
    spec:
      containers:
      - name: silly-demo
        image: docker.io/vfarcic/silly-demo:1.1.3
        ports:
          - containerPort: 8080
        resources:
          limits:
            cpu: 500m
            memory: 512Mi
          requests:
            cpu: 250m
            memory: 256Mi
        livenessProbe:
          httpGet:
            path: /
            port: 8080
        readinessProbe:
          httpGet:
            path: /
            port: 8080
        env: 
          - name: DB_ENDPOINT
            valueFrom:
              secretKeyRef:
                name: silly-demo-db
                key: endpoint
          - name: DB_PORT
            valueFrom:
              secretKeyRef:
                name: silly-demo-db
                key: port
          - name: DB_USER
            valueFrom:
              secretKeyRef:
                name: silly-demo-db
                key: username
          - name: DB_PASS
            valueFrom:
              secretKeyRef:
                name: silly-demo-db
                key: password
          - name: DB_NAME
            value: silly-demo-db

